@font-face {
    font-family: 'Gabia Heuldot';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GabiaHeuldot/GabiaHeuldot.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GabiaHeuldot/GabiaHeuldot.ttf') format('truetype');
}
